<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Users Index</title>
      
    </head>

    <style>
        p {
            margin: 0px 0px 0px 0px;

        }

        table, th, td{
          border: 1px black solid;
          
        }

        input{
          display: inline-block;
        }

        th {
          background-color: #DDCDCD;
        }

        th, td{
          padding: 0px 10px 0px 10px;
        }

        button{
          margin-top: 10px;
          display: inline-block;
        }

        .i_b{
          display: inline-block;
        }
    </style>

    <body>

      <h1>Users</h1>
      
      <table>
          <col width="30">
          <col width="120">
          <col width="180">
          <col width="180">
          <col width="180">

        <tr>
          <th>id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Created At</th>
          <th>Actions</th>
        </tr>

      {% for entry in all_users: %}
         <tr> <td> {{ entry['id'] }}</td>
              <td> {{ entry['full_name'] }}</td> 
              <td>{{entry['email']}}  </td>
              <td>{{entry['created_at']}}  </td>
              <td>
              <form action="/users/{{entry['id']}}" method='GET' class='i_b'>
                  <button type="submit" name="show" value="{{entry['id']}}">Show</button>
              </form>
              
              <form action="/users/{{entry['id']}}/edit" method='GET' class='i_b'>
                <button type="submit" name="edit" value="{{entry['id']}}">Edit</button>
              </form>

              <form action="/users/{{entry['id']}}/destroy" method='GET' class='i_b'>
                <button type="submit" name="delete" value="{{entry['id']}}">Delete</button>
              </form>
            </td>
         </tr>
      {% endfor %}

      
    </table>

    <form action="/users/new">
      <button type="submit">Add a new user</button>
    </form>
    </body>
</html>